.btn {
  border-width: 2px;
}
body {
  font-family: Kantumruy Pro;
}
.display-1 {
  font-family: 'Kantumruy Pro', sans-serif;
  font-size: 8.125rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 10.15625rem;
}
.display-2 {
  font-family: 'Kantumruy Pro', sans-serif;
  font-size: 5.625rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 7.03125rem;
}
.display-4 {
  font-family: 'Kantumruy Pro', sans-serif;
  font-size: 1.75rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 2.1875rem;
}
.display-5 {
  font-family: 'Kantumruy Pro', sans-serif;
  font-size: 3.75rem;
  line-height: 1.17;
}
.display-5 > .mbr-iconfont {
  font-size: 4.6875rem;
}
.display-7 {
  font-family: 'Kantumruy Pro', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.875rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 6.5rem;
    font-size: calc( 2.425rem + (8.125 - 2.425) * ((100vw - 20rem) / (48 - 20)) /2);
    line-height: 1;
  }
  .display-2 {
    font-size: 4.5rem;
    font-size: calc( 1.9249999999999998rem + (5.625 - 1.9249999999999998) * ((100vw - 20rem) / (48 - 20)) /1.8);
    line-height: 1.1;
  }
  .display-4 {
    font-size: 1.4rem;
    font-size: calc( 1.2625rem + (1.75 - 1.2625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.2625rem + (1.75 - 1.2625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 3rem;
    font-size: calc( 2.1rem + (3.75 - 2.1) * ((100vw - 20rem) / (48 - 20))/1.5);
    line-height: 1.1;
  }
  .display-7 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #c4b2f6 !important;
}
.bg-success {
  background-color: #00524f !important;
}
.bg-info {
  background-color: #8163d3 !important;
}
.bg-warning {
  background-color: #dedb7b !important;
}
.bg-danger {
  background-color: #ed7a5f !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #c4b2f6 !important;
  border-color: #c4b2f6 !important;
  color: #272727 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #f8f1ec !important;
  background-color: #272727 !important;
  border-color: #c4b2f6 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #f8f1ec !important;
  background-color: #272727 !important;
  border-color: #272727 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #fcd5db !important;
  border-color: #fcd5db !important;
  color: #272727 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #f8f1ec !important;
  background-color: #272727 !important;
  border-color: #fcd5db !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #f8f1ec !important;
  background-color: #272727 !important;
  border-color: #272727 !important;
}
.btn-info,
.btn-info:active {
  background-color: #8163d3 !important;
  border-color: #8163d3 !important;
  color: #272727 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #f8f1ec !important;
  background-color: #272727 !important;
  border-color: #8163d3 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #f8f1ec !important;
  background-color: #272727 !important;
  border-color: #272727 !important;
}
.btn-success,
.btn-success:active {
  background-color: #00524f !important;
  border-color: #00524f !important;
  color: #272727 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #f8f1ec !important;
  background-color: #272727 !important;
  border-color: #00524f !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #f8f1ec !important;
  background-color: #272727 !important;
  border-color: #272727 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #dedb7b !important;
  border-color: #dedb7b !important;
  color: #272727 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #f8f1ec !important;
  background-color: #272727 !important;
  border-color: #dedb7b !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #f8f1ec !important;
  background-color: #272727 !important;
  border-color: #272727 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ed7a5f !important;
  border-color: #ed7a5f !important;
  color: #272727 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #f8f1ec !important;
  background-color: #272727 !important;
  border-color: #ed7a5f !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #f8f1ec !important;
  background-color: #272727 !important;
  border-color: #272727 !important;
}
.btn-white,
.btn-white:active {
  background-color: #f8f1ec !important;
  border-color: #f8f1ec !important;
  color: #272727 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #f8f1ec !important;
  background-color: #272727 !important;
  border-color: #f8f1ec !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #f8f1ec !important;
  background-color: #272727 !important;
  border-color: #272727 !important;
}
.btn-black,
.btn-black:active {
  background-color: #272727 !important;
  border-color: #272727 !important;
  color: #272727 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #f8f1ec !important;
  background-color: #272727 !important;
  border-color: #272727 !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #f8f1ec !important;
  background-color: #272727 !important;
  border-color: #272727 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #c4b2f6;
  color: #c4b2f6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #272727 !important;
  background-color: #f8f1ec !important;
  border-color: #c4b2f6 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #f8f1ec !important;
  border-color: #f8f1ec !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #fcd5db;
  color: #fcd5db;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #272727 !important;
  background-color: #f8f1ec !important;
  border-color: #fcd5db !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #c40e2a !important;
  background-color: #f8f1ec !important;
  border-color: #f8f1ec !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #8163d3;
  color: #8163d3;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #272727 !important;
  background-color: #f8f1ec !important;
  border-color: #8163d3 !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #f8f1ec !important;
  border-color: #f8f1ec !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #00524f;
  color: #00524f;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #272727 !important;
  background-color: #f8f1ec !important;
  border-color: #00524f !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #f8f1ec !important;
  border-color: #f8f1ec !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #dedb7b;
  color: #dedb7b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #272727 !important;
  background-color: #f8f1ec !important;
  border-color: #dedb7b !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #484612 !important;
  background-color: #f8f1ec !important;
  border-color: #f8f1ec !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ed7a5f;
  color: #ed7a5f;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #272727 !important;
  background-color: #f8f1ec !important;
  border-color: #ed7a5f !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f8f1ec !important;
  border-color: #f8f1ec !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #272727;
  color: #272727;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #272727 !important;
  background-color: #f8f1ec !important;
  border-color: #272727 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #f8f1ec !important;
  border-color: #f8f1ec !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #f8f1ec;
  color: #f8f1ec;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #272727 !important;
  background-color: #f8f1ec !important;
  border-color: #f8f1ec !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #a76a3e !important;
  background-color: #f8f1ec !important;
  border-color: #f8f1ec !important;
}
.text-primary {
  color: #c4b2f6 !important;
}
.text-secondary {
  color: #fcd5db !important;
}
.text-success {
  color: #00524f !important;
}
.text-info {
  color: #8163d3 !important;
}
.text-warning {
  color: #dedb7b !important;
}
.text-danger {
  color: #ed7a5f !important;
}
.text-white {
  color: #f8f1ec !important;
}
.text-black {
  color: #272727 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #7e57eb !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #f57689 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #000000 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #4d2ea2 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #c2be31 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #cf3a17 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #ddbaa1 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #c4b2f6;
}
.nav-tabs .nav-link:not(.active) {
  color: #272727;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #8163d3;
}
.alert-warning {
  background-color: #dedb7b;
}
.alert-danger {
  background-color: #ed7a5f;
}
.mbr-gallery-filter li.active .btn {
  background-color: #c4b2f6;
  border-color: #c4b2f6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #c4b2f6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #39fff8;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Kantumruy Pro', sans-serif;
  font-size: 1.75rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 2.1875rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #c4b2f6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Kantumruy Pro', sans-serif;
  font-size: 1.75rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 2.1875rem;
}
blockquote {
  border-color: #c4b2f6;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #c4b2f6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #c4b2f6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #c4b2f6;
  border-bottom-color: #c4b2f6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #c4b2f6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #fcd5db !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23c4b2f6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition-duration: .2s;
}
a:hover {
  background-image: none !important;
}
.container,
.container-fluid {
  padding-left: 8%;
  padding-right: 8%;
}
@media (max-width: 767px) {
  .container,
  .container-fluid {
    padding-right: 3%;
    padding-left: 3%;
  }
}
@media (max-width: 575px) {
  .container,
  .container-fluid {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.container {
  max-width: 1800px;
  margin: 0 auto;
}
.row {
  margin-left: 0;
  margin-right: 0;
  justify-content: center;
}
.row > [class*="col"] {
  padding-left: 0;
  padding-right: 0;
}
.row {
  justify-content: center;
}
.mbr-section-btn .btn {
  min-width: 70px;
  min-height: 60px;
  padding: 1em 2em;
  border-radius: 300px !important;
  font-weight: 400;
  line-height: 1 !important;
  box-shadow: none !important;
  transform-style: preserve-3d;
}
.mbr-section-btn .btn:hover {
  transform: scale3d(1.03, 1.03, 1);
}
@media (max-width: 575px) {
  .mbr-section-btn {
    width: 100%;
  }
  .mbr-section-btn .btn {
    width: 100%;
    min-width: auto !important;
  }
}
.mbr-section-btn .btn-black {
  color: #f8f1ec !important;
}
.mbr-section-btn .btn-black:hover,
.mbr-section-btn .btn-black:focus,
.mbr-section-btn .btn-black.focus,
.mbr-section-btn .btn-black.active {
  color: #272727 !important;
  background-color: #f8f1ec !important;
}
.mbr-section-btn .btn-white-outline:hover,
.mbr-section-btn .btn-white-outline:focus,
.mbr-section-btn .btn-white-outline.focus,
.mbr-section-btn .btn-white-outline.active {
  color: #272727 !important;
  background-color: #f8f1ec !important;
}
b,
strong {
  font-weight: 600;
}
.cid-tgzsba4rsv {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 70px;
  min-height: auto !important;
  height: 0 !important;
  background: transparent !important;
}
.cid-tgzsba4rsv nav.navbar {
  position: fixed;
}
.cid-tgzsba4rsv .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tgzsba4rsv .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tgzsba4rsv .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tgzsba4rsv .dropdown-item:hover,
.cid-tgzsba4rsv .dropdown-item:focus {
  background: #c4b2f6 !important;
  color: white !important;
}
.cid-tgzsba4rsv .dropdown-item:hover span {
  color: white;
}
.cid-tgzsba4rsv .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tgzsba4rsv .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tgzsba4rsv .nav-dropdown .link {
  padding: 0 !important;
  margin: 0.667em 1.5em !important;
  transition: all 0.3s;
}
@media (min-width: 992px) {
  .cid-tgzsba4rsv .nav-dropdown .link:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 0;
    height: 1px;
    background-color: currentColor;
    transition: all 0.3s;
  }
  .cid-tgzsba4rsv .nav-dropdown .link:hover:before {
    width: 100%;
  }
}
.cid-tgzsba4rsv .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tgzsba4rsv .nav-link {
  position: relative;
}
.cid-tgzsba4rsv .container {
  display: flex;
  margin: auto;
  padding: 1%;
  min-height: 60px;
  border-radius: 20px;
  background: transparent !important;
  transition: .3s all;
}
@media (min-width: 992px) {
  .cid-tgzsba4rsv .container {
    flex-wrap: nowrap;
  }
}
.cid-tgzsba4rsv .iconfont-wrapper {
  color: #c4b2f6 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tgzsba4rsv .dropdown-menu,
.cid-tgzsba4rsv .navbar.opened {
  background: #ffffff !important;
}
.cid-tgzsba4rsv .nav-item:focus,
.cid-tgzsba4rsv .nav-link:focus {
  outline: none;
}
.cid-tgzsba4rsv .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tgzsba4rsv .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tgzsba4rsv .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tgzsba4rsv .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tgzsba4rsv .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tgzsba4rsv .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tgzsba4rsv .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: none !important;
  border-radius: 0 !important;
  background: transparent !important;
  padding: 1% 1% 0 !important;
}
.cid-tgzsba4rsv .navbar.opened {
  transition: all 0.3s;
}
.cid-tgzsba4rsv .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tgzsba4rsv .navbar .navbar-logo img {
  width: auto;
}
.cid-tgzsba4rsv .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tgzsba4rsv .navbar.collapsed {
  justify-content: center;
}
.cid-tgzsba4rsv .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tgzsba4rsv .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-tgzsba4rsv .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tgzsba4rsv .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tgzsba4rsv .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tgzsba4rsv .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tgzsba4rsv .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tgzsba4rsv .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tgzsba4rsv .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tgzsba4rsv .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tgzsba4rsv .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tgzsba4rsv .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tgzsba4rsv .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tgzsba4rsv .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tgzsba4rsv .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tgzsba4rsv .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tgzsba4rsv .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tgzsba4rsv .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tgzsba4rsv .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-tgzsba4rsv .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-tgzsba4rsv .navbar.navbar-short {
  min-height: 70px;
}
.cid-tgzsba4rsv .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tgzsba4rsv .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-tgzsba4rsv .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 5;
  position: relative;
}
.cid-tgzsba4rsv .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tgzsba4rsv .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tgzsba4rsv .dropdown-item.active,
.cid-tgzsba4rsv .dropdown-item:active {
  background-color: transparent;
}
.cid-tgzsba4rsv .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tgzsba4rsv .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tgzsba4rsv .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tgzsba4rsv .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-tgzsba4rsv .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tgzsba4rsv .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tgzsba4rsv ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tgzsba4rsv .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tgzsba4rsv button.navbar-toggler {
  outline: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  z-index: 5;
  align-self: center;
}
.cid-tgzsba4rsv button.navbar-toggler .hamburger span {
  position: absolute;
  right: 5px;
  width: 40px;
  height: 3px;
  background-color: #00524f;
}
.cid-tgzsba4rsv button.navbar-toggler .hamburger span:nth-child(1) {
  top: 10px;
  transition: all 0.2s;
}
.cid-tgzsba4rsv button.navbar-toggler .hamburger span:nth-child(2) {
  top: 24px;
  transition: all 0.15s;
}
.cid-tgzsba4rsv button.navbar-toggler .hamburger span:nth-child(3) {
  top: 24px;
  transition: all 0.15s;
}
.cid-tgzsba4rsv button.navbar-toggler .hamburger span:nth-child(4) {
  top: 37px;
  transition: all 0.2s;
}
.cid-tgzsba4rsv nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tgzsba4rsv nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tgzsba4rsv nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tgzsba4rsv nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tgzsba4rsv .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tgzsba4rsv a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tgzsba4rsv .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tgzsba4rsv .navbar {
    height: 70px;
  }
  .cid-tgzsba4rsv .navbar.opened {
    height: auto;
  }
  .cid-tgzsba4rsv .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tgzsba4rsv .navbar-short .container {
  background: #ffffff !important;
  box-shadow: rgba(39, 39, 39, 0.05) 0 0 20px 0;
}
.cid-tgzsba4rsv .mbr-section-btn .btn {
  padding: 0.4em 1.7em;
}
.cid-tgzsba4rsv .mbr-section-btn .btn-success {
  color: #f8f1ec !important;
}
.cid-tgzsba4rsv .mbr-section-btn .btn-success:hover,
.cid-tgzsba4rsv .mbr-section-btn .btn-success:focus,
.cid-tgzsba4rsv .mbr-section-btn .btn-success.focus,
.cid-tgzsba4rsv .mbr-section-btn .btn-success.active {
  color: #f8f1ec !important;
}
@media (max-width: 575px) {
  .cid-tgzsba4rsv .mbr-section-btn {
    display: flex;
  }
}
@media (max-width: 991px) {
  .cid-tgzsba4rsv .navbar {
    transition: .3s all !important;
  }
  .cid-tgzsba4rsv .container {
    padding: 2%;
  }
  .cid-tgzsba4rsv .navbar-collapse {
    flex-grow: 1;
    width: 100%;
    max-height: 100%;
  }
  .cid-tgzsba4rsv .navbar-brand {
    min-height: 50px;
    max-width: 50%;
    padding: 0 !important;
  }
  .cid-tgzsba4rsv .navbar.opened {
    background: #ffffff;
    height: 100vh !important;
    max-height: 100vh !important;
    padding: 1% 1% 2% !important;
  }
  .cid-tgzsba4rsv .navbar.opened .container {
    height: 100%;
    box-shadow: none !important;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
  .cid-tgzsba4rsv .navbar.opened .navbar-collapse {
    padding-top: 40px !important;
    width: 100% !important;
  }
  .cid-tgzsba4rsv .navbar.opened button.navbar-toggler {
    position: absolute;
    right: 2%;
    top: 2%;
  }
  .cid-tgzsba4rsv .navbar-nav {
    margin-bottom: 100px;
  }
  .cid-tgzsba4rsv .navbar-nav .nav-item {
    margin: 0 !important;
  }
  .cid-tgzsba4rsv .navbar-nav .nav-link {
    width: max-content;
    max-width: 100%;
    margin: 10px 0 !important;
    padding: 10px 0 !important;
    justify-content: flex-start !important;
    opacity: 0.4;
    font-size: 55px !important;
    line-height: 1 !important;
  }
  .cid-tgzsba4rsv .navbar-nav .nav-link:hover {
    opacity: 1;
  }
  .cid-tgzsba4rsv .navbar.dropdown-menu .dropdown-item {
    text-align: left !important;
  }
  .cid-tgzsba4rsv .icons-menu {
    justify-content: flex-start;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .cid-tgzsba4rsv .icons-menu .iconfont-wrapper {
    padding: 0 !important;
  }
  .cid-tgzsba4rsv .mbr-section-btn {
    text-align: left;
  }
}
.cid-tgzscJ4ACx {
  background-image: url("../../../assets/images/pexels-life-of-pix-7974.jpg");
  display: flex;
  flex-direction: column;
}
.cid-tgzscJ4ACx .mbr-fallback-image.disabled {
  display: none;
}
.cid-tgzscJ4ACx .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tgzscJ4ACx .container,
.cid-tgzscJ4ACx .container-fluid {
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 2%;
  padding-right: 2%;
}
@media (max-width: 575px) {
  .cid-tgzscJ4ACx .container,
  .cid-tgzscJ4ACx .container-fluid {
    padding-right: 5%;
    padding-left: 5%;
  }
}
.cid-tgzscJ4ACx .row {
  flex-grow: 1;
}
.cid-tgzscJ4ACx .main-col {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
}
.cid-tgzscJ4ACx .mbr-section-title {
  color: #ffffff;
  opacity: 0.6;
  margin-bottom: 32px;
  text-align: center;
}
.cid-tgzscJ4ACx .mbr-text {
  width: 100%;
  color: #272727;
}
.cid-tgzscJ4ACx .mbr-section-btn {
  margin-top: 30px;
}
.cid-tgzscJ4ACx .mbr-text,
.cid-tgzscJ4ACx .mbr-section-btn {
  text-align: center;
  color: #ffffff;
}
.cid-tgztbFTYYF {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tgztbFTYYF .mbr-fallback-image.disabled {
  display: none;
}
.cid-tgztbFTYYF .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tgztbFTYYF .row {
  display: flex;
  align-items: flex-start;
  gap: 6em;
}
@media (max-width: 767px) {
  .cid-tgztbFTYYF .row {
    gap: 3em;
  }
}
@media (max-width: 575px) {
  .cid-tgztbFTYYF .row {
    flex-wrap: wrap;
  }
}
.cid-tgztbFTYYF .col-text {
  width: 1%;
  flex-grow: 1;
}
@media (max-width: 575px) {
  .cid-tgztbFTYYF .col-text {
    width: 100%;
  }
}
.cid-tgztbFTYYF .mbr-section-title {
  color: #000000;
  opacity: 0.4;
  margin-bottom: 4px;
}
.cid-tgztbFTYYF .mbr-text {
  color: #272727;
  margin-bottom: 0;
}
.cid-tgztbFTYYF .mbr-section-btn {
  margin-top: 20px;
}
.cid-tgztbFTYYF .col-img {
  width: 1%;
  flex-grow: 1;
}
@media (max-width: 575px) {
  .cid-tgztbFTYYF .col-img {
    width: 100%;
  }
}
.cid-tgztbFTYYF .image-wrapper {
  width: 80%;
  margin: 0 auto;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tgztbFTYYF .image-wrapper img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
@media (max-width: 991px) {
  .cid-tgztbFTYYF .image-wrapper img {
    height: 360px;
  }
}
@media (max-width: 767px) {
  .cid-tgztbFTYYF .image-wrapper img {
    height: auto;
  }
}
@media (max-width: 767px) {
  .cid-tgztbFTYYF .image-wrapper {
    width: 100%;
  }
}
.cid-tgzu29NO9u {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tgzu29NO9u .mbr-section-head {
  width: 100%;
  margin-bottom: 5em;
}
@media (max-width: 767px) {
  .cid-tgzu29NO9u .mbr-section-head {
    margin-bottom: 3em;
  }
}
.cid-tgzu29NO9u .mbr-section-title {
  margin-bottom: 4px;
  color: #272727;
  opacity: 0.4;
}
.cid-tgzu29NO9u .mbr-section-subtitle {
  margin-bottom: 0;
  color: #272727;
}
.cid-tgzu29NO9u .item-row {
  display: grid;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 4em;
  grid-row-gap: 4em;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
@media (max-width: 767px) {
  .cid-tgzu29NO9u .item-row {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}
@media (max-width: 575px) {
  .cid-tgzu29NO9u .item-row {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cid-tgzu29NO9u .item {
  padding: 0;
}
.cid-tgzu29NO9u .item:nth-child(2n) .item-wrapper {
  padding-top: 5em;
}
@media (max-width: 767px) {
  .cid-tgzu29NO9u .item:nth-child(2n) .item-wrapper {
    padding-top: 50px;
  }
}
@media (max-width: 575px) {
  .cid-tgzu29NO9u .item:nth-child(2n) .item-wrapper {
    padding-top: 0;
  }
}
.cid-tgzu29NO9u .item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  width: 100%;
  overflow: visible;
}
.cid-tgzu29NO9u .item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 330px;
  border-radius: 35%;
  overflow: hidden;
  aspect-ratio: 0.88;
  margin: 0 auto;
}
.cid-tgzu29NO9u .item-img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.cid-tgzu29NO9u .item-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  padding: 0;
  margin-top: 1rem;
}
.cid-tgzu29NO9u .item-title {
  color: #272727;
  margin-bottom: 4px;
}
.cid-tgzu29NO9u .mbr-text {
  color: #272727;
  opacity: 0.4;
}
.cid-tgzu29NO9u .mbr-text,
.cid-tgzu29NO9u .mbr-section-btn {
  color: #000000;
}
.cid-tgzvWjh2Pa {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tgzvWjh2Pa .mbr-fallback-image.disabled {
  display: none;
}
.cid-tgzvWjh2Pa .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tgzvWjh2Pa .mbr-section-title {
  color: #272727;
}
.cid-tgzvWjh2Pa .mbr-text {
  color: #272727;
  margin-top: 32px;
  text-align: center;
}
@media (max-width: 767px) {
  .cid-tgzvWjh2Pa .mbr-text {
    margin-top: 24px;
  }
}
.cid-tgzvWjh2Pa .image-wrapper {
  width: 100%;
  max-width: 350px;
  aspect-ratio: 1;
  border-radius: 20px;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  margin-top: 32px;
}
@media (max-width: 767px) {
  .cid-tgzvWjh2Pa .image-wrapper {
    margin-top: 24px;
  }
}
.cid-tgzvWjh2Pa .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-tgzxd9AYXh {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
}
.cid-tgzxd9AYXh .mbr-fallback-image.disabled {
  display: none;
}
.cid-tgzxd9AYXh .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tgzxd9AYXh .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .cid-tgzxd9AYXh .row {
    flex-wrap: wrap;
  }
}
.cid-tgzxd9AYXh .col-text {
  width: 50%;
}
@media (max-width: 767px) {
  .cid-tgzxd9AYXh .col-text {
    width: 100%;
  }
}
.cid-tgzxd9AYXh .text-wrapper {
  max-width: 500px;
  padding: 16px 0;
}
@media (max-width: 991px) {
  .cid-tgzxd9AYXh .text-wrapper {
    width: 100%;
    max-width: 100%;
    padding: 10px 8%;
  }
}
@media (max-width: 767px) {
  .cid-tgzxd9AYXh .text-wrapper {
    padding: 0;
  }
}
.cid-tgzxd9AYXh .mbr-section-title {
  color: #dedb7b;
  opacity: 0.4;
  margin-bottom: 12px;
}
@media (max-width: 991px) {
  .cid-tgzxd9AYXh .mbr-section-title {
    margin-bottom: 8px;
  }
}
.cid-tgzxd9AYXh .mbr-section-subtitle {
  color: #dedb7b;
  margin-bottom: 40px;
}
@media (max-width: 991px) {
  .cid-tgzxd9AYXh .mbr-section-subtitle {
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .cid-tgzxd9AYXh .mbr-section-subtitle {
    margin-bottom: 16px;
  }
}
.cid-tgzxd9AYXh .mbr-text {
  color: #272727;
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .cid-tgzxd9AYXh .mbr-text {
    max-width: 290px;
  }
}
@media (max-width: 767px) {
  .cid-tgzxd9AYXh .mbr-text {
    max-width: 350px;
  }
}
@media (max-width: 575px) {
  .cid-tgzxd9AYXh .mbr-text {
    max-width: 100%;
  }
}
.cid-tgzxd9AYXh .mbr-section-btn {
  margin-top: 20px;
}
.cid-tgzxd9AYXh .col-img {
  width: 40%;
}
@media (max-width: 991px) {
  .cid-tgzxd9AYXh .col-img {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-tgzxd9AYXh .col-img {
    width: 100%;
    margin-bottom: 30px;
  }
}
.cid-tgzxd9AYXh .image-wrapper {
  width: 100%;
}
@media (max-width: 991px) {
  .cid-tgzxd9AYXh .image-wrapper {
    width: 75%;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .cid-tgzxd9AYXh .image-wrapper {
    width: 100%;
  }
}
.cid-tgzxd9AYXh .image-wrapper img {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  object-fit: cover;
}
@media (max-width: 991px) {
  .cid-tgzxd9AYXh .image-wrapper img {
    max-width: 100%;
  }
}
.cid-tgzxd9AYXh .mbr-text,
.cid-tgzxd9AYXh .mbr-section-btn {
  color: #dedb7b;
}
.cid-tgzxDsoppJ {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tgzxDsoppJ .mbr-section-title {
  color: #272727;
  margin-bottom: 24px;
}
.cid-tgzxDsoppJ .mbr-text {
  color: #272727;
  text-align: center;
}
.cid-tgzxC5Hc5D {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tgzxC5Hc5D .mbr-section-head {
  margin-bottom: 60px;
}
@media (max-width: 991px) {
  .cid-tgzxC5Hc5D .mbr-section-head {
    margin-bottom: 32px;
  }
}
.cid-tgzxC5Hc5D .card {
  display: flex;
  justify-content: flex-start;
  width: 20%;
  transition: all 0.3s;
  height: fit-content;
  padding: 0;
  margin-bottom: 3em;
}
.cid-tgzxC5Hc5D .card img {
  width: 100%;
  padding-right: 35%;
}
@media (max-width: 1199px) {
  .cid-tgzxC5Hc5D .card img {
    padding-right: 30%;
  }
}
@media (max-width: 991px) {
  .cid-tgzxC5Hc5D .card img {
    padding-right: 25%;
  }
}
@media (max-width: 767px) {
  .cid-tgzxC5Hc5D .card img {
    padding-right: 20%;
  }
}
@media (max-width: 575px) {
  .cid-tgzxC5Hc5D .card img {
    padding-right: 1em;
    padding-left: 1em;
  }
}
@media (max-width: 1199px) {
  .cid-tgzxC5Hc5D .card {
    width: 25%;
  }
}
@media (max-width: 991px) {
  .cid-tgzxC5Hc5D .card {
    width: 33.33333333%;
  }
}
@media (max-width: 575px) {
  .cid-tgzxC5Hc5D .card {
    width: 50%;
    justify-content: center;
  }
}
.cid-tgzAeIVW1k {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #fffdb4;
}
.cid-tgzAeIVW1k .mbr-fallback-image.disabled {
  display: none;
}
.cid-tgzAeIVW1k .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tgzAeIVW1k .title-container {
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .cid-tgzAeIVW1k .title-container {
    margin-bottom: 25px;
  }
}
.cid-tgzAeIVW1k .mbr-section-title {
  color: #272727;
  text-align: center;
}
.cid-tgzAeIVW1k .mbr-text {
  color: #00524F;
  margin-top: 32px;
}
@media (max-width: 767px) {
  .cid-tgzAeIVW1k .mbr-text {
    margin-top: 24px;
  }
}
.cid-tgzAeIVW1k .tabl-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
@media (max-width: 767px) {
  .cid-tgzAeIVW1k .tabl-container {
    margin-top: 25px;
  }
}
.cid-tgzAeIVW1k .item-container {
  width: 100%;
  display: flex;
}
.cid-tgzAeIVW1k .item-container:not(:first-child) {
  margin-top: 30px;
}
.cid-tgzAeIVW1k .card-text {
  color: #272727;
  width: 100%;
  text-align: center;
}
.cid-tgzyBxE338 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tgzyBxE338 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tgzyBxE338 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tgzyBxE338 .main-col {
  padding-top: 12px;
}
.cid-tgzyBxE338 .content-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  overflow: hidden;
  min-height: 30em;
  border-radius: 4.6em;
  padding: 3%;
  transform-style: preserve-3d;
  transition: .5s all;
}
@media (max-width: 575px) {
  .cid-tgzyBxE338 .content-container {
    border-radius: 2.6em;
  }
}
.cid-tgzyBxE338 .content-container .mbr-section-btn {
  position: relative;
  z-index: 5;
  margin-top: auto;
  transform-style: preserve-3d;
  transition: .5s all;
}
.cid-tgzyBxE338 .content-container .mbr-section-btn .btn-white:hover {
  background-color: #f8f1ec !important;
  color: #272727 !important;
  transform: scale3d(1, 1, 1) !important;
}
.cid-tgzyBxE338 .content-container:hover {
  transform: translate3d(0px, -12px, 0px);
}
.cid-tgzyBxE338 .content-container:hover .text-wrap {
  transform: translate3d(0px, -4px, 0px);
}
.cid-tgzyBxE338 .content-container:hover .mbr-section-btn {
  transform: translate3d(0px, -16px, 0px);
}
.cid-tgzyBxE338 .content-container:hover .img-bg-wrap {
  transform: scale3d(1.2, 1.2, 1);
}
.cid-tgzyBxE338 .img-bg-wrap {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/images/pexels-miguel-padrin-1111371.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform-style: preserve-3d;
  transition: .5s all;
}
.cid-tgzyBxE338 .text-wrap {
  position: relative;
  z-index: 5;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  transform-style: preserve-3d;
  transition: .5s all;
  padding-bottom: 16px;
}
.cid-tgzyBxE338 .mbr-section-title {
  color: #272727;
  margin-bottom: 24px;
}
.cid-tgzyBxE338 .mbr-text {
  color: #272727;
  opacity: 0.5;
}
.cid-tgzyBxE338 .buttons-container {
  text-align: right !important;
}
.cid-tgzyBxE338 .mbr-text,
.cid-tgzyBxE338 .card-btns {
  text-align: center;
  color: #000000;
}
.cid-tgzxPimAOs {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
}
.cid-tgzxPimAOs .mbr-fallback-image.disabled {
  display: none;
}
.cid-tgzxPimAOs .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tgzxPimAOs .mbr-section-title {
  color: #ffffff;
  text-align: center;
}
.cid-tgzxPimAOs .mbr-text {
  color: #ffffff;
  margin-top: 32px;
  text-align: center;
}
@media (max-width: 767px) {
  .cid-tgzxPimAOs .mbr-text {
    margin-top: 24px;
  }
}
.cid-tgzxPimAOs .image-wrapper {
  width: 100%;
  margin-top: 32px;
  padding-left: 16px;
  padding-right: 16px;
}
@media (max-width: 767px) {
  .cid-tgzxPimAOs .image-wrapper {
    margin-top: 24px;
  }
}
.cid-tgzxPimAOs .image-wrapper img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  object-fit: cover;
}
.cid-tgzzHL4utG {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tgzzHL4utG .mbr-section-title {
  margin-bottom: 1em;
  color: #272727;
}
.cid-tgzzHL4utG .mbr-section-subtitle {
  margin-bottom: 1.5625em;
  color: #000000;
  opacity: 0.4;
}
.cid-tgzzHL4utG .item-row {
  display: grid;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
@media (max-width: 1199px) {
  .cid-tgzzHL4utG .item-row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .cid-tgzzHL4utG .item-row {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cid-tgzzHL4utG .item {
  padding: 0;
}
.cid-tgzzHL4utG .item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  transform-style: preserve-3d;
  transition: .3s all;
  border: 2px solid transparent;
}
.cid-tgzzHL4utG .item-wrapper:hover {
  transform: scale3d(1.01, 1.01, 1);
  border-color: #c4b2f6;
}
.cid-tgzzHL4utG .item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 175px;
}
.cid-tgzzHL4utG .item-img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.cid-tgzzHL4utG .item-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  padding: 20px 5% 6%;
  flex-grow: 1;
  background-color: #ffffff;
}
.cid-tgzzHL4utG .item-text-wrap {
  width: 100%;
  margin-bottom: 5.3em;
}
@media (max-width: 1199px) {
  .cid-tgzzHL4utG .item-text-wrap {
    margin-bottom: 4em;
  }
}
@media (max-width: 767px) {
  .cid-tgzzHL4utG .item-text-wrap {
    margin-bottom: 2em;
    max-width: 340px;
    margin-right: auto;
  }
}
.cid-tgzzHL4utG .item-title {
  color: #272727;
  margin-bottom: 0.52em;
}
.cid-tgzzHL4utG .item-subtitle {
  color: #272727;
  opacity: 0.4;
}
.cid-tgzzHL4utG .card-bottom {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: auto;
}
.cid-tgzzHL4utG .item-name-wrap {
  display: flex;
  align-items: center;
  width: 100%;
}
.cid-tgzzHL4utG .image-wrapper {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 300px;
  overflow: hidden;
}
.cid-tgzzHL4utG .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-tgzzHL4utG .mbr-text {
  flex-grow: 1;
  color: #272727;
}
.cid-tgzzHL4utG .mbr-section-btn {
  display: flex;
  margin-top: 20px;
  width: auto !important;
}
.cid-tgzzHL4utG .mbr-section-btn .btn {
  width: 100%;
  min-width: auto !important;
}
.cid-tgzzNrgrha {
  padding-top: 0rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tgzzNrgrha .mbr-section-head {
  width: 100%;
  margin-bottom: 20px;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 767px) {
  .cid-tgzzNrgrha .mbr-section-head {
    margin-bottom: 25px;
  }
}
.cid-tgzzNrgrha .mbr-section-title {
  margin-bottom: 0;
  color: #dedb7b;
}
.cid-tgzzNrgrha .mbr-section-subtitle {
  color: #00524F;
  margin-bottom: 0;
  margin-top: 32px;
}
@media (max-width: 767px) {
  .cid-tgzzNrgrha .mbr-section-subtitle {
    margin-top: 24px;
  }
}
.cid-tgzzNrgrha .item-row {
  display: grid;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  padding-top: 20px;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 767px) {
  .cid-tgzzNrgrha .item-row {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 50px;
  }
}
@media (max-width: 575px) {
  .cid-tgzzNrgrha .item-row {
    grid-template-columns: repeat(1, 1fr);
  }
}
.cid-tgzzNrgrha .item {
  padding: 10px;
}
.cid-tgzzNrgrha .item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  width: 100%;
  overflow: visible;
}
.cid-tgzzNrgrha .item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 200px;
}
.cid-tgzzNrgrha .item-img img {
  width: 100%;
  aspect-ratio: 1.5;
  object-fit: cover;
  border-radius: 50px;
}
.cid-tgzzNrgrha .item-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  padding: 0;
  margin-top: 20px;
}
.cid-tgzzNrgrha .item-title {
  color: #dedb7b;
  margin-bottom: 10px !important;
}
.cid-tgzzNrgrha .mbr-text {
  color: #00524F;
  margin-bottom: 10px !important;
}
.cid-tgzzNrgrha .mbr-text,
.cid-tgzzNrgrha .mbr-section-btn {
  color: #dedb7b;
}
.cid-tgzASWISmL {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tgzASWISmL .row {
  justify-content: center;
}
.cid-tgzASWISmL .col-video {
  display: flex;
  overflow: hidden;
}
.cid-tgzASWISmL .col-video img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 100vh;
}
.cid-tgzASWISmL .col-video .box {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 1.3888888888888888em;
  overflow: hidden;
}
.cid-tgzASWISmL .col-video .link-container {
  display: flex;
  margin-bottom: 2rem;
}
.cid-tgzASWISmL .col-video .link {
  margin-right: 1rem;
}
.cid-tgzASWISmL .col-video .mbr-media {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.cid-tgzASWISmL .col-video .mbr-media a:hover {
  background-image: none !important;
}
.cid-tgzASWISmL .mbr-media {
  position: relative;
}
.cid-tgzASWISmL .mbr-media img {
  width: 100%;
  object-fit: cover;
}
.cid-tgzASWISmL .icon-wrap {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  transition: all .3s;
}
.cid-tgzASWISmL .icon-wrap .mbr-iconfont {
  padding: 24px;
  border-radius: 50%;
  background-color: #dedb7b;
}
@media (max-width: 991px) {
  .cid-tgzASWISmL .icon-wrap .mbr-iconfont {
    padding: 16px;
  }
}
.cid-tgzASWISmL .icon-wrap:hover {
  transform: translate(-50%, -50%);
}
.cid-tgzASWISmL .mbr-media span {
  font-size: 4rem;
  transition: all 0.2s;
}
.cid-tgzASWISmL .modalWindow {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-tgzASWISmL .modalWindow .modalWindow-container {
  display: table-cell;
  vertical-align: middle;
}
.cid-tgzASWISmL .modalWindow .modalWindow-video {
  height: calc(44.9943757vw);
  width: 80vw;
  margin: 0 auto;
}
.cid-tgzASWISmL .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-tgzASWISmL .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-tgzASWISmL a:hover {
  text-decoration-line: none !important;
}
.cid-tgzz1HCKOQ {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #fffdb4;
}
.cid-tgzz1HCKOQ .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.2;
}
.cid-tgzz1HCKOQ .row {
  flex-wrap: wrap;
  align-items: stretch;
  margin: 0 auto !important;
}
.cid-tgzz1HCKOQ .col-title {
  margin-bottom: 36px;
}
@media (max-width: 1199px) {
  .cid-tgzz1HCKOQ .col-title {
    margin-bottom: 26px;
  }
}
@media (max-width: 991px) {
  .cid-tgzz1HCKOQ .col-title {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .cid-tgzz1HCKOQ .col-title {
    margin-bottom: 15px;
  }
}
.cid-tgzz1HCKOQ .form-title {
  color: #272727;
  text-align: center;
}
.cid-tgzz1HCKOQ .col-form {
  display: flex;
  width: 70%;
}
@media (max-width: 991px) {
  .cid-tgzz1HCKOQ .col-form {
    width: 100%;
  }
}
.cid-tgzz1HCKOQ .form-wrap {
  width: 100%;
  margin: 0 auto;
  padding: 0 !important;
}
.cid-tgzz1HCKOQ form {
  width: 100%;
}
.cid-tgzz1HCKOQ form .dragArea.row {
  justify-content: flex-start;
  width: auto !important;
}
.cid-tgzz1HCKOQ form p {
  color: #272727;
}
.cid-tgzz1HCKOQ form .mbr-section-btn {
  text-align: center;
  justify-content: center;
  margin-right: auto;
}
.cid-tgzz1HCKOQ form .form-group {
  margin-top: 40px !important;
  margin-bottom: 36px !important;
}
@media (max-width: 1199px) {
  .cid-tgzz1HCKOQ form .form-group {
    margin-top: 24px !important;
    margin-bottom: 24px !important;
  }
}
@media (max-width: 767px) {
  .cid-tgzz1HCKOQ form .form-group {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
}
.cid-tgzz1HCKOQ form .form-control {
  height: 60px;
  border: none !important;
  border-bottom: 1px solid #000000 !important;
  background: transparent;
  box-shadow: none !important;
  border-radius: 0 !important;
  margin-bottom: 0;
  padding: 8px 0;
  font-size: 40px;
  line-height: 1 !important;
  color: #272727;
  font-weight: 400;
}
@media (max-width: 991px) {
  .cid-tgzz1HCKOQ form .form-control {
    height: 42px;
    font-size: 24px;
  }
}
@media (max-width: 575px) {
  .cid-tgzz1HCKOQ form .form-control {
    height: 38px;
    font-size: 20px;
  }
}
.cid-tgzz1HCKOQ form .form-control::-webkit-input-placeholder {
  color: #272727;
}
.cid-tgzz1HCKOQ form .form-control::-moz-placeholder {
  color: #272727;
}
.cid-tgzz1HCKOQ form .form-control:-moz-placeholder {
  color: #272727;
}
.cid-tgzz1HCKOQ form .form-control:-ms-input-placeholder {
  color: #272727;
}
.cid-tgzz1HCKOQ form select {
  color: #626161 !important;
}
.cid-tgzz1HCKOQ form textarea {
  height: 60px !important;
  resize: none;
}
.cid-tgzz1HCKOQ form input:active,
.cid-tgzz1HCKOQ form textarea:active,
.cid-tgzz1HCKOQ form input:focus,
.cid-tgzz1HCKOQ form textarea:focus {
  background-color: transparent !important;
  border-color: #000000 !important;
  outline: none !important;
}
.cid-tgzz1HCKOQ form input:active::-webkit-input-placeholder,
.cid-tgzz1HCKOQ form textarea:active::-webkit-input-placeholder,
.cid-tgzz1HCKOQ form input:focus::-webkit-input-placeholder,
.cid-tgzz1HCKOQ form textarea:focus::-webkit-input-placeholder {
  color: #272727;
}
.cid-tgzz1HCKOQ form input:active::-moz-placeholder,
.cid-tgzz1HCKOQ form textarea:active::-moz-placeholder,
.cid-tgzz1HCKOQ form input:focus::-moz-placeholder,
.cid-tgzz1HCKOQ form textarea:focus::-moz-placeholder {
  color: #272727;
}
.cid-tgzz1HCKOQ form input:active:-moz-placeholder,
.cid-tgzz1HCKOQ form textarea:active:-moz-placeholder,
.cid-tgzz1HCKOQ form input:focus:-moz-placeholder,
.cid-tgzz1HCKOQ form textarea:focus:-moz-placeholder {
  color: #272727;
}
.cid-tgzz1HCKOQ form input:active:-ms-input-placeholder,
.cid-tgzz1HCKOQ form textarea:active:-ms-input-placeholder,
.cid-tgzz1HCKOQ form input:focus:-ms-input-placeholder,
.cid-tgzz1HCKOQ form textarea:focus:-ms-input-placeholder {
  color: #272727;
}
.cid-tgzz1HCKOQ form .row {
  margin-left: -8px !important;
  margin-right: -8px !important;
}
.cid-tgzz1HCKOQ form .row [class*=col] {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.cid-tgzz1HCKOQ form label {
  width: 100%;
  color: #272727;
  margin-bottom: 24px;
}
.cid-tgzz1HCKOQ form .form-control-label {
  width: 100%;
}
.cid-tgzz1HCKOQ form .form-check-label {
  margin-bottom: 16px;
}
.cid-tgzz1HCKOQ form .form-check-input {
  border-color: #626161 !important;
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent !important;
}
.cid-tgzz1HCKOQ form .form-check-input:focus,
.cid-tgzz1HCKOQ form .form-check-input:hover {
  background-color: #626161 !important;
  border-color: #272727 !important;
}
.cid-tgzz1HCKOQ form .form-check-input:checked {
  border-color: #626161 !important;
  background-color: #626161 !important;
}
.cid-tgzz1HCKOQ .col-btn {
  display: flex;
  justify-content: flex-end;
  width: 30%;
  padding-left: 1rem;
  padding-left: 1rem !important;
}
@media (max-width: 991px) {
  .cid-tgzz1HCKOQ .col-btn {
    padding: 0 !important;
    width: 100%;
  }
}
.cid-tgzz1HCKOQ .btn-container {
  position: sticky;
  top: 7em;
  display: flex;
  align-items: center;
  height: fit-content;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .cid-tgzz1HCKOQ .btn-container {
    position: static;
    width: 100%;
    flex-direction: column;
    align-items: stretch;
    margin-top: 24px;
  }
}
@media (max-width: 575px) {
  .cid-tgzz1HCKOQ .btn-container {
    margin-top: 20px;
  }
}
.cid-tgzz1HCKOQ .mbr-text {
  margin-right: 30px;
}
@media (max-width: 991px) {
  .cid-tgzz1HCKOQ .mbr-text {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
@media (max-width: 575px) {
  .cid-tgzz1HCKOQ .mbr-text {
    text-align: center !important;
  }
}
.cid-tgzzEZagk3 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #272727;
  overflow: hidden;
}
.cid-tgzzEZagk3 .mbr-text {
  color: #f8f1ec;
}
